#display-date {
    text-align: start;
}

#search:hover {
    background-color: red;
}

button {
    background-color: white;
    padding: 6px;
    border: solid 0.5px lightgrey;
    text-align: left;
}

button:hover {
    color: white;
    background-color: red;
}

.city-name {
    font-size: 30px;
    font-weight: 600;
}